.container {
    display: flex;
    height: 100vh;
    /* padding-top: 20px; */

}
  
  .leftPane {
    flex: 1; 
    border-right: 1px solid #ddd;
    overflow-y: auto; 
    padding-left: 20px;

  }
  .rightPane {
    flex: 2; 
    padding: 20px;
    overflow-y: auto;
  }
  
  .scrollable {
    max-height: 100%;
    overflow-y: auto; }
  
  .placeholder {
    color: #888;
    text-align: center;
    font-size: 18px;
    margin-top: 50%;
  }
  